# Gradle
.gradle
/build
/gradle-wrapper.jar

# Android Studio
.idea/
*.iml
*.apk
*.aar
*.ap_
*.dex
*.class
.classpath
.project
.settings/
local.properties

# IDE
.vscode/
*.swp
*.swo
*~
.DS_Store
.cxx
.externalNativeBuild

# Build outputs
/captures
/bin
*.hprof

# NDK
/obj/

# Kotlin
.kotlin/
*.kotlin_module

# Misc
*.bak
*.tmp
*.log